$basic-color: #ffac4e;

.nested-draggable {
  position: absolute;
  transition: top 0.5s;

  &.nested-draggable--hint {
    border: 2px solid $basic-color;
    box-shadow: 0px 0px 20px $basic-color;
    border-radius: 12px;
  }
}
